*{
    padding: 0px;;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
}

nav{
    height:80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
}

.logo{
    color:brown;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

nav a{
    text-decoration: none;
    color:maroon;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:0 2rem;
}

.column-left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: maroon;
    padding:0 2rem;
}

.column-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p{
    margin-bottom: 2rem;
    font-size: 5rem;
}

button{
    padding:1rem 3rem;
    font-size: 1rem;
    border: none;
    color:bisque;
    background: maroon;
    cursor: pointer;
    border-radius: 50px;
}

button:hover{
    background:rgb(197, 163, 122);
    color:maroon
}